*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*remo os padrões da página*/
}
body{
    background-image: url(assets/bg-mobile.jpg);/*adicionar uma imagem como background*/
    background-repeat: no-repeat ;/*pra não repetir a imagem no back ground*/
    background-position: top center; /*posicionamento do background*/
    background-size: cover; /*fara do background ser mais responsivo*/ 
}
body *{
    font-family: 'Inter', sans-serif;
    color: #fff;
}
#container{
    width: 360px;
    margin: 56px auto;
}
#foto{
    text-align: center;
    padding: 24px;
}
#foto img{
    width: 112px;
}
#foto p{
    font-weight: 500;
    line-height: 24px;
    margin-top: 10px;
}
/*lista*/
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px; /*adiciona espaço entre objetos e não acima ou abaixo deles*/
}
ul li a{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    background: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    text-decoration: none;
    border-radius: 8px;/*arredondamento de border*/
    font-weight: 500;
    transition: background 0.2s;
}
ul li a:hover{
    border: 1.5px solid #fff;
    background: rgba(255,255,255,0.05) ;
}

